.left_container {
   display: flex;
   flex-direction: column;
   width: 60%;
   padding-left: 20px;
   padding-right: 20px;
   margin-right: 20px;
   row-gap: 15px;
}
.right_container {
   max-width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-x: visible;
}
.collaborators_body {
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   display: flex;
   flex-direction: column;
   row-gap: 15px;
   width: 100%;
   max-height: 70vh;
   overflow-y: auto;
   overflow-x: visible;
}
.collaborators_header {
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 10px;
}
.project_name {
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 10px;
}
.project_summary {
   display: flex;
   flex-direction: column;
   row-gap: 25px;
}
.project_githubs {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
.tech_stack {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}
.header {
   font-size: 1.5rem;
}
.tech_body {
   font-size: 1rem;
   display: flex;
   flex-wrap: wrap;
   column-gap: 7px;
   row-gap: 7px;
}
.body {
   font-size: 1rem;
   display: flex;
   column-gap: 7px;
}
.lessons_learned_body {
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   row-gap: 5px;
}
.lessons_learned {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}
.collaborator_component_me {
   position: relative;
   width: 100%;
   max-width: 320px;
   min-width: 300px;
   border: solid 2px transparent;
   box-sizing: border-box;
   background: rgb(255, 255, 255);
   background: linear-gradient(
      65deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 88, 88, 1) 0%,
      rgba(0, 177, 0, 1) 25%,
      rgba(70, 229, 230, 1) 50%,
      rgba(218, 121, 61, 1) 75%,
      rgba(143, 3, 104, 1) 100%
   );
   background-size: 200% 200%;
   background-position: 10% 10%;
   animation-name: shmoveGradient;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   border-radius: 10px;
   padding: 15px;
}
@keyframes shmoveGradient {
   from {
      background-position: 3% 3%;
   }
   to {
      background-position: 100% 100%;
   }
}
.collaborator_component_me:before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -10;
   margin: 2px;
   border-radius: inherit;
   background: black;
}
.collaborator_component {
   width: 100%;
   max-width: 320px;
   min-width: 300px;
   background-color: #101010;
   border-radius: 10px;
   padding: 15px;
}
.collaborator_top {
   font-size: 1.6rem;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   cursor: pointer;
}
.collaborator_top > img {
   border-radius: 50%;
}
.collaborator_body {
   padding-left: 25px;
   padding-right: 10px;
   display: flex;
   flex-direction: column;
   row-gap: 5px;
}
@media (max-width: 750px) {
   .left_container {
      width: 100%;
      margin-right: 0;
   }
}
.collaborator_name {
   display: flex;
   align-items: center;
   column-gap: 10px;
}
.collaborator_component:hover .tiny_github {
   opacity: 1;
}
.collaborator_component_me:hover .tiny_github {
   opacity: 1;
}
.tiny_github {
   height: 25px;
   width: 25px;
   opacity: 0;
   transition: 0.3s all;
}
.github_link {
   display: flex;
   column-gap: 0.9rem;
   font-size: 1rem;
   align-items: center;
   padding: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   border: 1px solid #101010;
}
.github_link:hover {
   background-color: #101010;
}
.github_link > svg {
   height: 1rem;
   width: 1rem;
}
.githubs_body {
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   column-gap: 7px;
   row-gap: 10px;
}
.accomplishments {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 5px;
}
.accomplishments_list {
   display: flex;
   font-size: 1rem;
   padding: 10px;
   padding-left: 20px;
   flex-direction: column;
   row-gap: 10px;
}
