.icon_size {
    width: 2em;
    height: 2em;
}
.social_container {
    display: flex;
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}
.socials_container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 30px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}
