.spotify_container {
    opacity: 1;
    overflow: visible;
    border-radius: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.spotify_bubble {
   width: 30px;
   height: 30px;
}

.currently_listening {
    background-color: #101010;
    color: white;
    width: 400px;
    max-width: 90%;
    min-height: 150px;
    border-radius: 10px;
    border: 1px solid #1A1A1A;
    display: flex;
    align-items: center;
}
.drag_handle {
    width: 30px;
    height: 30px;
    color: #202020;
}
.spotify_bubble_handle {
    padding: 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    border-right: 1px solid #1A1A1A;
}
.spotify_album_img {
    margin-left: 20px;
    border: 1px solid #101010;
    border-radius: 5px;
}
.spotify_bubble_content {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 100%;
    width: 100%;
}
.spotify_data_container {
    padding-right: 5px;
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
}
.spotify_song_artists {
    font-size: 12px;
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
}
.album_type {
    font-size: 14px;
}