.footer_group {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
}
.footer_top_group {
   text-align: center;
}
.footer_bottom_group {
   text-align: center;
}
