.main {
    width: 100%;
    height: 100%;
}
.nav {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    column-gap: 20px;
    align-items: center
}
.nav_header {
    margin-right: 10px;
    font-size: 3.5rem;
    font-weight: bold;
}
.nav_links {
    min-width: 400px;
    display: flex;
    column-gap: 2rem;
}
.nav_link {
    font-size: 1.8rem;
    cursor: pointer;
}
.hero {
    padding-left: 30px;
    font-weight: medium;
    font-size: 1.5rem;
}