@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #474747 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 10px;
    border: 3px solid #000000;
  }
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.fadeInNormal {
  animation-name: fadeInNormal;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.word {
  opacity: 0;
}
.blog-body {
  display: block;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
}
.blog-header {
  max-width: 700px;
}
.blog-body > p {
  margin-bottom: 25px;
}
.blog-body > pre {
  margin-bottom: 25px !important;
}

@keyframes fadeInNormal {
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-5%);
  }
  to {
      opacity: 1;
      transform: translateY(0%);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.link {
  color: aliceblue;
  opacity: 0;
  font-weight: 700;
  text-decoration: underline;
}
.emphasis {
  color: palevioletred;
  opacity: 0;
  font-weight: 700;
}

.image-window {
  display: flex;
  width: 200px;
  max-height: 0px;
  height: 200px;
  overflow-y: visible;
  overflow-x: visible;
  position: relative;
  transition: 1s all;
}
.shmove-image {
  opacity: 0;
  transition: 1s all;
  border-radius: 100%;
}
.spinIn {
  animation: spinIn;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0, 0.71, 0.2, 1.01);
  animation-fill-mode: forwards;
}

@keyframes spinIn {
  0% {
    opacity: 0;
    transform: rotateZ(360deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);

  }
}
@keyframes popInRow {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}
.main-body {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.three-two-split {
  display: flex;
  flex-direction: row;
  width: 75vw;
  min-width: 300px;
  margin-top: 30px;
}

@media (max-width: 750px) {
    .three-two-split {
      align-items: center;
      width: 100%;
      flex-direction: column;
      row-gap: 30px;
    }
}


.projectCardPicture {
  position: relative;
  transition:600ms;
  z-index: 10;
}

.p-color-overlay {
  opacity:0.5;
  transition: 0.2s;
}
.projectCardBody {
  transition: 0.5s;
}
#projectCard {
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: 100%;
  background-position-y:50%;
  background-repeat:no-repeat;
}

#projectCard:hover .p-color-overlay{
  opacity: 1;
}
#projectCard:hover .projectCardPicture {
  border-radius: 25px 25px 25px 25px;
  transform: translateX(-30vw);
}
#projectCard:hover .projectCardBody {
  opacity: 1;
}


@media screen and (min-width: 768px) {
  .custom-fa-size {
      font-size:3rem;
  }
}
@media screen and (max-width: 767px) {
  .custom-fa-size {
      font-size:5rem;
  }
}
